@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<link href="~/css/login_styles.css" rel="stylesheet" />

<div class="wrapper">
    <div class="home-from">
        <form class="form">
            <div class="row page-header ">
                <div class="col-sm-10">
                    <h1>
                        <img class="icon" src="~/icon.png">
                        Welcome to BlogIdp
                        <small>(version 0.1.0)</small>
                    </h1>
                </div>
            </div>
            <div class="row form">
                <div class="col-sm-8">
                    <p>
                        IdentityServer publishes a
                        <a href="~/.well-known/openid-configuration">discovery document</a>
                        where you can find metadata and links to all the endpoints, key material, etc.
                    </p>
                </div>
                <div class="col-sm-8">
                    <p>
                        Click <a href="~/grants">here</a> to manage your stored grants.
                    </p>
                </div>
            </div>
            <div class="row form">
                <div class="col-sm-8">
                    <p>
                        Here are links to the
                        <a href="https://github.com/anjoy8/Blog.IdentityServer" target="_blank">source code repository</a>
                    </p>
                </div>
            </div>


        </form>

    </div>
    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

