@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2>@ViewData["Title"]</h2>
<h4>Enter your email.</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <partial name="_ValidationSummary" />
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <span class="pwd-qus-tip">请填写注册时自定义的答案，两个都需要填写</span>
            <br />
            <span class="pwd-qus-tip">如果注册时未填写，暂不支持找回密码，请留空并点击Submit，在下一页的link中，提交人工处理找回密码。</span>
            <div class="form-group">
                <label asp-for="FirstQuestion"></label>
                <input asp-for="FirstQuestion" class="form-control" />
                <span asp-validation-for="FirstQuestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondQuestion"></label>
                <input asp-for="SecondQuestion" class="form-control" />
                <span asp-validation-for="SecondQuestion" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

