@model LoginViewModel

<link href="~/css/login_styles.css" rel="stylesheet" />

<div class="htmleaf-container">
    <div class="wrapper">
        <div class="containerLogin">
            <h1>BlogIdp</h1>


            <partial name="_ValidationSummary" />

            @if (Model.EnableLocalLogin)
            {
                <form asp-route="Login" class="form">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <input class="login-name" placeholder="Username" asp-for="Username" >
                    <input class="login-pass" type="password" placeholder="Password" asp-for="Password" autocomplete="off">


                    @if (Model.AllowRememberLogin)
                    {
                        <div class="form-group login-remember">
                            <label asp-for="RememberLogin">
                                <input asp-for="RememberLogin">
                                <strong>Remember My Login</strong>
                            </label>
                        </div>
                    }

                    <div>
                        <p>用之前系统的账号和密码登录</p>
                        <p>注意：密码在导入数据库的时候，统一在之前加上了字符BlogIdp123$</p>
                    </div>


                    <button type="submit" class="login" name="button" value="login">Login</button>
                    <button name="button" value="cancel">Cancel</button>


                </form>

            }
            @if (Model.VisibleExternalProviders.Any())
            {
                <div class="col-md-6 col-sm-6 external-providers">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">External Login</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-inline">
                                @foreach (var provider in Model.VisibleExternalProviders)
                                {
                                    <li>
                                        <a class="btn btn-default"
                                           asp-controller="External"
                                           asp-action="Challenge"
                                           asp-route-provider="@provider.AuthenticationScheme"
                                           asp-route-returnUrl="@Model.ReturnUrl">
                                            @provider.DisplayName
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }
            @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
            {
                <div class="alert alert-warning">
                    <strong>Invalid login request</strong>
                    There are no login schemes configured for this client.
                </div>
            }

        </div>

        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>



