@model EditViewModel
@{
    ViewData["Title"] = "个人中心";

}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <partial name="_ValidationSummary" />
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" asp-action="My" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoginName"></label>
                <input asp-for="LoginName" class="form-control" />
                <span asp-validation-for="LoginName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstQuestion"></label>
                <input asp-for="FirstQuestion" class="form-control" />
                <span asp-validation-for="FirstQuestion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondQuestion"></label>
                <input asp-for="SecondQuestion" class="form-control" />
                <span asp-validation-for="SecondQuestion" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

